# Auto detect text files and perform LF normalization
* text=auto

# Markdown files
*.md text eol=lf
*.markdown text eol=lf

# YAML files
*.yml text eol=lf
*.yaml text eol=lf

# Treat all files in the .github directory as text
.github/**/* text eol=lf
